<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>BMDB - Tatrai Alida</title>
    <link href="css/bootstrap.css" rel="stylesheet"></link>
    <link href="css/app.css" rel="stylesheet"></link>
</head>

<body>
<header id="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BMDB</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Media</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Magyar</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST" action="logout">
                <button class="btn btn-outline-light" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<section id="site-content">
    <div class="card blue-card ">
        <div class="card-header blue-card-header">Account details</div>
        <div class="card-body ">
            <form method="post" action="player">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input name="name" type="text" class="form-control" aria-label="name"
                           aria-describedby="basic-addon1" th:value="${user.getName()}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">Email address</span>
                    </div>
                    <input name="birth" type="text" class="form-control" aria-label="birth"
                           aria-describedby="basic-addon1" th:value="${user.getEmail()}">
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

    <div class="card blue-card">
        <div class="card-header blue-card-header">Reviews</div>
        <div class="card-body ">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Review text</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Associated media</th>
                    <th scope="col">Rating</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="review: ${reviews}">
                    <th scope="row" th:text="${review.getId()}"/>
                    <td th:text="${review.getText()}">
                    <td th:text="${review.getCreator().getName()}">
                    <td th:text="${review.getMedia().getTitle()}">
                    <td th:text="${T(com.example.bmdb.domain.Rating).valueOf(review.getRating())}">
                </tr>
                </c:forEach>
                </tbody>
            </table>
        </div>
    </div>
</section>

<footer id="footer">
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>